ion-content {
  background: linear-gradient(to bottom,#30E8BF, #FF8235);
}

.clear{
  background-color: transparent;
}
Button {
Background-color: #FF8235;
}
Item-option {
Background-color:  rgb(33, 224, 49);
}
ion-item {
Background-color:     #fad9c1 ;}

img{ width: 75%; height: 50%; margin: auto; display: block;}
.responsive {
  width: 100%;
  height: auto;
}