ion-content {
  background: linear-gradient(to bottom, #0b486b, #f56217);
}

.clear{
  background-color: transparent;
}
Button {
Background-color: orange;
}
Item-option {
Background-color:  rgb(33, 224, 49);
}
ion-item {
Background-color:     #fad9c1 ;}

img{ width: 75%; height: 50%; margin: auto; display: block;}