<ion-header>
  <ion-navbar>
    <ion-title>
      Daily Calorie Intake Calculator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<img    
    src="https://cdn.jsdelivr.net/gh/DesideroTech/ionic-888@master/DESIDERO%20calculator.png"/>
<ion-item>
    <ion-label color="dark">Height in cm: </ion-label>
    <ion-input type="number"[(ngModel)]="height"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark">Weight in kg: </ion-label>
    <ion-input type="number"[(ngModel)]="weight"></ion-input>
  </ion-item>
 
 <ion-item>
    <ion-label color="dark">Age: </ion-label>
    <ion-input type="number"[(ngModel)]="age"></ion-input>
  </ion-item>

<ion-item>
    <ion-label color="dark"> Sex: </ion-label>
    <ion-select interface="popover" [(ngModel)]="sex">
      <ion-option value="m">Male</ion-option>
      <ion-option value="f">Female</ion-option>
    </ion-select>
</ion-item>

<ion-item>
    <ion-label color="dark"> Physical Activity Level: </ion-label>
    <ion-select interface="popover" [(ngModel)]="physicalactivitylevel">
      <ion-option value="little or no">little or no exercise</ion-option>
      <ion-option value="one to two">1-2 days/week</ion-option>
      <ion-option value="two to three">2-3 days/week</ion-option>
      <ion-option value="four to five">4-5 days/week</ion-option>
      <ion-option value="six to seven">6-7 days/week</ion-option>
      <ion-option value="professional">professional athlete</ion-option>
    </ion-select>
</ion-item>

 <button ion-button color="secondary" (click)="calculateDCI()">CALCULATE</button>

<ion-item class="clear" *ngIf="dci">
    <h2 class="heading2">Your DCI is: {{dci}} kcal/day.</h2>
    </ion-item>

<ion-item class="clear" *ngIf="age">
    <h2 class="heading2">{{error}}</h2>
    </ion-item>

</ion-content>
