ion-content {
  background: linear-gradient(to bottom,#30E8BF, #FF8235);
}
 
H2{color: white;
text-align: justify;
font-size: 15pt;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
 
h3{color: white;
text-align: ;
font-size: 40pt;
font-family: sans}
 
H4{font-size: 20pt; font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white ;}
 
p{
  color: white;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
ion-label {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white ;
}
 
ol {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white ;
}
