ion-content {
  background: linear-gradient(to bottom, #0b486b, #f56217);
}

h3{color: white;
text-align: center;
font-size: 40pt;
font-family: sans}

img{
  width:
}
p{
  color: white;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ion-label {
  font-size: 20pt; font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white ;
}