ion-content {
  background: linear-gradient(to bottom,#30E8BF, #FF8235);
}
h1{color: white;
text-align: center;
font-size: 40pt;
font-family: sans;
}

h2{
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  color: rgb(252, 245, 245);
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{ width: 75%; height: 50%; margin: auto; display: block;}
.responsive {
  width: 100%;
  height: auto;
}

Button {
Background-color: rgb(52, 221, 36);
}
Item-option {
Background-color:  red;
}
Interface {
Background-color:  red;
}